header{
    display: flex;
    width: 100%;
    background-color: black;
}

.navBar{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: 0;
}

.navBar li{
    text-align: center;
    width: 20%;
}

.logoPag{
    max-width: 60px;
    border-radius: 50px;
    background-color: bisque;
    padding: 5px;
    margin: 10px;
}

.user{
    width: 50%;
    text-align: end;
}

.user li{
    width: 90%;
    color: whitesmoke;
}