.botonH {
    height: fit-content;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

.buttonMore{
    width: 100%;
    background-color: transparent; 
    border-color: #353535;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 0px;
}

.buttonMore:hover{
    background-color: #35353550;
}
