.botonH {
    height: fit-content;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

.formSearch button{
    height: 40px;
}

.inputSearch{
    height: 40px !important;
    width: 250px !important;
    text-align: center;
    font-size:medium !important
}

.goBack{
    margin: 10px;
    border-radius: 100px;
}

.buttonMoreAll{
    color: whitesmoke;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.22); 
    border-color: whitesmoke;
    padding: 5px 12px;
    font-size: 20px;
    margin: 40px 2px;
    margin-top: 0px;
}

.buttonMoreAll:hover{
    background-color: #be2722;
    color: whitesmoke;
}