.botonH {
    height: fit-content;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

.divLoader{
    width: 100%;
    height: 0;
    padding-bottom: 39%;
    position: relative;
    }
    
.loaderFrame{
    width: 100%;
    height: 100%;
    position: absolute;
}