/* thomas */
.form {
    display: flex;
    height: fit-content;
    align-self: center;
    border-radius: 10px;
    text-align: center;
}

.input {
    border: solid 3px cadetblue;
    border-radius: 5px;
}

.botonL {
    border-radius: 5px;
}
/* thomas */