/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
body{
    margin: 0;
}
body div{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(29, 27, 27);;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}