/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
body{
    margin: 0;
    
}


#root{
    background-image: url('/images/poster.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: whitesmoke;
}

.body section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formAll{
    background-image: url('/images/posterForm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.formAll form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formAll form input{
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: x-large;
}

.titleForm{
    color: cornsilk;
    font-size: 30px;
    margin-top: 0;
}

.titleFilmsBox h1{
    color: cornsilk;
    font-size: 30px;
}

.titleFilmsBox{
    display: flex;
    align-items: center;
}

body section .filmsBox{
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmsBox li{
    width: 24%;
    text-align: center;
    margin-bottom: 20px;
}

.divLoader{
    width: 100%;
    position: relative;
    text-align: center;
}

.giphyLoader{
    margin-top: 50px;
    width: 15%;
    height: 100px;
    border-radius: 20px;
    position: relative;
    background-color: whitesmoke;
}
  
.loaderFrame{
    width: 100%;
    height: 100%;
    position: absolute;
}

.buttonMore{
    color: whitesmoke;
    width: 20%;
    background-color: rgba(245, 245, 245, 0.22);
    border-color: whitesmoke;
    padding: 5px 12px;
    font-size: 20px;
    margin: 40px 2px;
    border-radius: 5px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonMore:hover{
    background-color: #be2722;
    color: whitesmoke;
}

@media (max-width: 400px) {
    * {
        width: min-content;
    }
    footer {
        width: auto;
    }
    #film h3 {
        width: auto;
    }
    .botonL {
        width: 20vh;
    }
    .buttonCardsB{
        width: 100%;
    }
    .titleFilmsBox h1 {
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .botonH {
        font-size: 20px;
    }
    a {
        font-size: 14px;
    }
    .footerInfo li {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    .footerInfo li p{
        width: 100%;
    }
    .filmsBox li {
    display: table
    }
    .buttonscards {
        width: 100%;
        align-self: center;
    }
    .formAll{
        align-items: center;
    }
    .containter-detalle{
        flex-direction: column;
        align-items: center;
    }
    .containter-detalle div, .containter-detalle img{
        margin: 10px 0px;
    }
    .organizando-caja{
        flex-direction: column;
        height: 110vh;
    }
    .organizando-caja h1{
        height: 40vh;
    }
    .titulo-detalle{
        margin: 0;
        height: 50vh;
    }
    .organizando-caja ul{
        width: 100%;
    }
    .foto-detalle{
        width: 30%;
        text-align: center;
    }
    .titulo-generos{
        display: flex;
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }
    .titulo-generos p{
        width: 25%;
    }
    .item-genero{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .container-favs, .container-favs h1, .container-favs p {
        width: 100%;
    }
    .button-detail-fav{
        width: 100%;
    }
    .notFound{
        align-items: center;
    }
}