/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
body{
    margin: 0;
}
#root{
    font-family:'Times New Roman', Times, serif;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: whitesmoke;
}

.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: black;
}

.body form, section{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleFilmsBox{
    display: flex;
    align-items: center;
}

body section .filmsBox{
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.filmDescription {
    content-visibility: hidden;
   }

.filmsBox li{
    width: 24%;
    text-align: center;
    margin-bottom: 20px;
}

.divLoader{
    width: 100%;
    position: relative;
    text-align: center;
}

<<<<<<< HEAD
.giphyLoader{
    width: 100%;
    height: 100%;
    position: relative;
}

    
.loaderFrame{
    width: 100%;
    height: 100%;
    position: absolute;
=======
@media (max-width: 400px) {

* {
    width: -webkit-fill-available;
}
.botonL {
    width: 20vh;
}
.titleFilmsBox h1 {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.botonH {
    font-size: 20px;
}
a {
    font-size: 14px;
}
.filmDescription {
 content-visibility: hidden;
}
.filmsBox {

}
.filmsBox li {
display: table
}

>>>>>>> deac2742f3dee28548d9b28effface7d672f2d09
}